// Define variables for your color scheme

// For example:
  $red: #EE5F5B;
  $blue: #469AE0;
  $yellow: #FDB631;
  $orange: #E67E22;
  $green: #32B796;
// $gray: #000000;
// $light-gray: #F4F4F4;


// Brand Color Scheme

  $brand-blue: #2893C9;
  $danger-red: #F25F5C;
  $positive-green: #2EDD97;
  $background-gray: #F6F6F6;
  $white: #FFFFFF;
  $black: #323232;
  $dark-gray: #505050;
  $medium-gray: #8A8A8A;
  $lighter-gray: #C8C8C8;
  $lightest-gray: #f7f7f7;


// #4D3FF5, #5FD4FA
