// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url('https://fonts.googleapis.com/css?family=Lato');
// Define fonts for body and headers
$body-font: "Lato", "sans-serif", "Helvetica", "Arial";
$headers-font: "Lato", "sans-serif", "Helvetica", "Arial";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1 {
  font-size: 41px;
  color: #FFFFFF;
  line-height: 2px;
  letter-spacing: 2%;
}

h2 {
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 4%;
}

h3 {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 4%;
}

h4 {
  font-size: 22px;
  line-height: 26px;
}

h5 {
  font-size: 18px;
  line-height: 22px;
}

h6 {
  font-size: 16px;
  line-height: 21px;
}

p {
  font-size: 16px;
  line-height: 19px;
}

a {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}
