// Specific CSS for your home-page
#home-second-wrapper {
  height: 93vh;
}

#home-third-wrapper {
  height: 92vh;
  background: radial-gradient(979.75px at 19.91% 13.29%, #2EDD97 0%, #2893C9 100%);
}

#home-fourth-wrapper {
  height: 93vh;
}
