// Specific CSS for your home-page
#home-wrapper {
  margin-top: 70px;
  a {
    text-decoration: none;
  }
  .scroll {
    font-size: 16px;
    text-align: center;
    background-color: #F6F6F6;
    color: #409FEF;
    margin-left: 30px;

    p {
      margin-top: 10px;
      margin-bottom: 0;
      padding-bottom: 0;
      font-size: 16px;
    }
  }
}

#home-second-wrapper {
  height: 100%;
  min-height: 950px;
  display: flex;;
  align-items: center;
  justify-content: center;
}

#home-third-wrapper {
  height: 100%;
  min-height: 500px;
  background: radial-gradient(979.75px at 19.91% 13.29%, #4d3ff5 0%, #5fd4fa 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

#home-footer-padding {
  padding: 0px 30px;
}

.no-nav-shadow {
  box-shadow: none;
}

#particles-js {
  position: absolute;
  width: 150%;
  height: 86%;
  background-color: transparent;
}
