<div id="returning-user"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script>
(function($) {
    var handler = Plaid.create({
        apiVersion: 'v2',
        clientName: 'Ledja',
        env: 'sandbox',
        product: ['transactions'],
        key: '<%= ENV["PLAID_PUBLIC_KEY"] %>',
        onSuccess: function(public_token) {
            $.post('/callback', { public_token: public_token }, function() {
            });
        },
    });


    // if document.querySeletor() != 'undefined'
    document.addEventListener('DOMContentLoaded', function(e) {
      if (document.getElementById('returning-user') !== null) {
        handler.open();
      }
    });
  })(jQuery);
  </script>
