<table class="table table-hover dash-table">
  <thead>
    <tr>
      <th scope="col" class= "tb-left-align account-logo">Bank Logo</th>
      <th scope="col" class= "tb-left-align account-name"><br></br>Account Name</th>
      <th scope="col" class= "tb-left-align account-name"><br></br>Remove Account</th>
    </tr>
  </thead>
  <tbody>
    <% @account_names.each do |account_name|  %>
      <tr>
        <td class="tb-tr-height tb-left-align account-logo"><img src="/logos/american-express.png" alt="img crl " height="70" ></td>
        <td class="tb-tr-height tb-left-align account-name"><h4><strong><%= account_name %></strong></h4></td>
        <td><a href="">Remove Account</a></td>
      </tr>
    <% end %>
      <tr>
        <td class="tb-tr-height tb-left-align account-logo"><i class="far fa-plus-square"></i></i></td>
        <td class="tb-tr-height tb-left-align account-name"><h4><strong>Add a new account</td></strong></h4>
        <td><%= link_to "Add Account", plaid_api_new_path %></td>
      </tr>
  </tbody>
</table>


