<div class="card-container">
  <div class="card">
    <img class="subscription-logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT90XFBesgTJN7L27pqTc-z9jANbfcaBQfH5kU3CUGEgNVgTDDtyg">
    <div class="subscription-company-name">
      <h3><strong>Amazon</strong></h3>
      <p>Prime Deliveries</p>
    </div>
    <div class="length-cost-next-column">
      <h4>in 10 days</h4>
      <p>the 20th every month</p>
    </div>
    <div class="length-cost-next-column">
      <h4>€8.99/mo</h4>
      <p>€107.88/year</p>
    </div>
    <div class="switch-column">
      <p>Switch</p>
    </div>
<!--     <div><i class="fas fa-ellipsis-v three-dots btn"></i></div> -->
  </div>
</div>
