<div class="card-container-legend">
  <div class="card-legend">
    <img class="subscription-logo-legend">
    <div class="subscription-company-name-legend">
      <p>Service</p>
    </div>
    <div class="length-cost-next-column-legend">
      <p>Next Charge</p>
    </div>
    <div class="length-cost-next-column-legend">
      <p>price/month</p>
    </div>
    <div class="length-cost-next-column-legend">
      <p>Save!</p>
    </div>
    <div class="switch-column-legend length-cost-next-column-legend">
      <p>Active/Inactive</p>
    </div>
<!--     <div><i class="fas fa-ellipsis-v three-dots btn"></i></div> -->
  </div>
</div>
