<div class="card-container">
  <div class="card-legend">
    <div class="d-flex justify-content-center" >Company Logo</div>
    <div class="subscription-company-name hidden-xs hidden-sm">
      <p>Service Provider</p>
    </div>
    <div class="cost-column d-flex justify-content-center" ">
      <p>price/month</p>
    </div>
    <div class="next-payment-column hidden-xs hidden-sm d-flex justify-content-center">
      <p>next payment</p>
    </div>
    <div class="saving-column hidden-xs d-flex justify-content-center">
      <h5>Save!</h5>
      <p>up to</p>
    </div>
    <div class="switch-column hidden-xs d-flex justify-content-center">
      <style>
        .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
        .toggle.ios .toggle-handle { border-radius: 20px; }
      </style>
      <input type="checkbox" checked data-toggle="toggle" data-style="ios">
      <style>
        .toggle.android { border-radius: 0px;}
        .toggle.android .toggle-handle { border-radius: 0px; }
      </style>
    </div>
<!--     <div><i class="fas fa-ellipsis-v three-dots btn"></i></div> -->
  </div>
</div>
