<% @lastTransactions.each do |transaction| %>
  <div class="card-container">
    <div class="card">
      <img class="subscription-logo" src="http://pngimg.com/uploads/mcdonalds/mcdonalds_PNG9.png">
      <div class="card-column subscription-company-name hidden-xs hidden-sm">
        <h3><strong><%= transaction.description %></strong>
        </h3>
        <p><%= transaction.category %></p>
      </div>
      <div class="card-column cost-column">
        <h4><%= transaction.amount %> /month <h4>
        <p>€<%= transaction.amount * 12 %> /y</p>
      </div>
      <div class="card-column next-payment-column hidden-xs hidden-sm">
        <h4>10 days</h4>
        <p>13/09/18</p>
      </div>
      <div class="card-column saving-column hidden-xs">
        <h4>€35/y</h4>
      </div>
      <div class="card-column switch-column hidden-xs">
        <style>
          .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
          .toggle.ios .toggle-handle { border-radius: 20px; }
        </style>
        <input type="checkbox" checked data-toggle="toggle" data-style="ios">
        <style>
          .toggle.android { border-radius: 0px;}
          .toggle.android .toggle-handle { border-radius: 0px; }
        </style>
      </div>
  <!--     <div><i class="fas fa-ellipsis-v three-dots btn"></i></div> -->
    </div>
  </div>
  <script>
    $(document).on('ready page:change', function() {
      $('input[type="checkbox"].toggle').bootstrapToggle(); // assumes the checkboxes have the class "toggle"
    });
  </script>
<% end %>

