<div class="footer">
  <div class= "footer-groups">
    <div class="footer-social-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-main-links">
      <a href="#">About</i></a>
      <a href="#">Security</i></a>
      <a href="#">Press Releases</i></a>
      <a href="#">Contact</i></a>
      <a href="#">FAQ</i></a>
    </div>
    <div class="footer-copyright">
      ⒸCoatYourself
    </div>
  </div>
</div>
