<div class="footer">
  <div class= "footer-groups">
    <div class="footer-social-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="pages/aboutus">About</i></a>
    </div>
    <div class="footer-copyright">
      Ⓒ Ledja
    </div>
  </div>
</div>
