<table class="table table-hover dash-table">
  <thead>
    <tr>
      <th scope="col" class= "logo">Company Logo</th>
      <th scope="col" class= "name">Service Provider</th>
      <th scope="col" class= "data">Price/month</th>
      <th scope="col" class= "data">Next payment</th>
      <th scope="col" class= "data">Alternatives <br>would save</br></th>
      <th scope="col" class= "data">Following</th>
    </tr>
  </thead>
  <tbody>
    <% @lastTransactions.each do |transaction| %>
      <tr>
        <td class= "logo"><img class="subscription-logo" src="http://pngimg.com/uploads/mcdonalds/mcdonalds_PNG9.png"></td>
        <td class= "name"><h4><strong><%= transaction.description %></strong></h4></td>
        <td class= "data">
          <h4><%= transaction.amount %> /month <h4>
          <p>€<%= transaction.amount * 12 %> /y</p>
        </td class= "data">
        <td class= "data">
          <h4>10 days</h4>
          <p>13/09/18</p>
        </td>
        <td class= "data"><h4>€35/y</h4></td>
        <td class= "data">
          <style>
            .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
            .toggle.ios .toggle-handle { border-radius: 20px; }
          </style>
          <input type="checkbox" checked data-toggle="toggle" data-style="ios">
          <style>
            .toggle.android { border-radius: 0px;}
            .toggle.android .toggle-handle { border-radius: 0px; }
          </style>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).on('ready page:change', function() {
    $('input[type="checkbox"].toggle').bootstrapToggle(); // assumes the checkboxes have the class "toggle"
  });
</script>




