
<div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
  <h3> Ledger was developed in 10 days as a project for Le Wagon's Batch 162</h3>
</div>



<div class="row">
  <div id="#aboutus-main-wrapper">
    <div class="row">
      <div>
        <div class="col-xs-10 col-md-10 col-md-offset-1">
            <div class="col-xs-12 col-md-6">
              <div class="card-about">
                <div>
                  <h3>Tom Gow-Gates </h3>
                  <p>10 years experience in banking | A developer interested in Fintech </p>
                </div>
                <div class="card-about-icon" style = "background-image: url('https://res.cloudinary.com/dzcwxfufs/image/upload/v1535099210/tom.jpg');">
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-md-6">
              <div class="card-about">
                <div>
                  <h3>Andre Sousa</h3>
                  <p>Expert on Military Logistic | Interested on Web Development</p>
                </div>
                <div class="card-about-icon" style = "background-image: url('https://res.cloudinary.com/dzcwxfufs/image/upload/v1535099189/andre.jpg');">
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-md-6">
              <div class="card-about">
                <div>
                  <h3>Jerome De Boeck</h3>
                  <p>Pationate by entrepreneurship and new technologies - Extreme sports addict</p>
                </div>
                <div class="card-about-icon" style = "background-image: url('https://res.cloudinary.com/dzcwxfufs/image/upload/v1535099200/jerome.jpg');">
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-md-6">
              <div class="card-about">
                <div>
                  <h3>Jose Raimundo</h3>
                  <p>Student of Computer Science and Business Management | Looking for opportunities in tech </p>
                </div>
                <div class="card-about-icon" style = "background-image: url('https://res.cloudinary.com/dzcwxfufs/image/upload/v1535099223/ze.jpg');">
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
