
<div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
  <h3> Ledger was developed in 10 days as a project for Le Wagon's Batch 162</h3>
</div>

<div class="row">
  <div id="#aboutus-main-wrapper">
    <div class="row">
      <div>
        <div class="col-xs-10 col-md-10 col-md-offset-1">
            <div class="col-xs-10 col-md-5 card-home">
              <div>
                <h3>Tom Gow-Gates</h3>
                <p>Find all your subscriptions, automatically</p>
              </div>
              <div class="card-home-icon" style = "background-image: url('https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/j8vzxiyluaufifbgcjem.jpg'); border-radius: 50%;">
              </div>
            </div>
            <div class="col-xs-10 col-md-5 card-home">
              <div>
                <h3>Andre Sousa</h3>
                <p>Total spending, upcoming payments and more</p>
              </div>
              <div class="card-home-icon" style = "background-image: url('https://res.cloudinary.com/dxayumlub/image/upload/v1534352599/Ledja/3319612_-_chart_graph_led_statistics_stats.png');">
              </div>
            </div>
            <div class="col-xs-10 col-md-5 card-home">
              <div>
                <h3>Jerome De Boeck</h3>
                <p>Save money with easy cancellation</p>
              </div>
              <div class="card-home-icon" style = "background-image: url('https://res.cloudinary.com/dxayumlub/image/upload/v1534352626/Ledja/3319633_-_arrow_business_coin_dollar_graph.png');">
              </div>
            </div>
            <div class="col-xs-10 col-md-5 card-home">
              <div>
                <h3>Jose Raimundo</h3>
                <p>Ledja scans the web to help you find better deals</p>
              </div>
              <div class="card-home-icon" style = "background-image: url('https://res.cloudinary.com/dxayumlub/image/upload/v1534352558/Ledja/3319605_-_bulb_dollar_financial_idea_light_mone_money.png');">
              </div>
            </div>
        </div>
        <div>
        <!-- Related code in app/helpers/videos_helper.rb
        Then from any view you can add (with width and height): -->
          <%= get_video_iframe('https://youtu.be/UWXispGnz8Q', '640px', '360px') %>
        </div>
      </div>
    </div>
  </div>
</div>
