<div class="row">
  <div id="home-wrapper">
    <%= render 'shared/navbar' %>
    <div id="home-banner">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-2">
        <div id="banner-content-left">
          <h1>Track All</h1>
          <h1>Your Subscriptions</h1>
          <h4>Automatically in less than a minute</h4>
          <div class="home-button-get-started">
            <% unless user_signed_in? %>
            <!-- Link when new session -->
            <%= link_to "Get Started", new_user_registration_path , class: 'btn btn-primary btn-started' %>
            <% else %>
            <%= link_to "Get Started", subscriptions_index_path , class: 'btn btn-primary btn-started' %>
             <% end %>
          </div>
        </div>
      </div>
    </div>
    <a href="#home-second-wrapper">
      <div class="scroll">
        <p>Learn More</p>
        <i class="fas fa-chevron-down"></i>
      </div>
    </a>
    <div class="row">
      <div id="home-second-wrapper">
        <div class="col-xs-10 col-md-10 col-md-offset-1">
            <div class="col-xs-10 col-md-5 card-home">
              <div>
                <h3>Track your subscriptions</h3>
                <p>Ledja helps you track subscriptions</p>
              </div>
              <div class="card-home-icon" style = "background-image: url('https://res.cloudinary.com/dxayumlub/image/upload/v1534352568/Ledja/3319611_-_business_dollar_finance_invest_money_search.png');">
              </div>
            </div>
            <div class="col-xs-10 col-md-5 card-home">
              <div>
                <h3>Analyze your spending</h3>
                <p>Ledja helps you analyze spending</p>
              </div>
              <div class="card-home-icon" style = "background-image: url('https://res.cloudinary.com/dxayumlub/image/upload/v1534352599/Ledja/3319612_-_chart_graph_led_statistics_stats.png');">
              </div>
            </div>
            <div class="col-xs-10 col-md-5 card-home">
              <div>
                <h3>Save money</h3>
                <p>Ledja helps you save money</p>
              </div>
              <div class="card-home-icon" style = "background-image: url('https://res.cloudinary.com/dxayumlub/image/upload/v1534352626/Ledja/3319633_-_arrow_business_coin_dollar_graph.png');">
              </div>
            </div>
            <div class="col-xs-10 col-md-5 card-home">
              <div>
                <h3>Find better deals</h3>
                <p>Ledja helps you find better deals</p>
              </div>
              <div class="card-home-icon" style = "background-image: url('https://res.cloudinary.com/dxayumlub/image/upload/v1534352558/Ledja/3319605_-_bulb_dollar_financial_idea_light_mone_money.png');">
              </div>
            </div>
            <div class="col-xs-10 col-md-5 card-home">
              <div>
                <h2>Get reminders</h2>
                <p>Ledja gives you reminders</p>
              </div>
              <div class="card-home-icon" style = "background-image: url('https://res.cloudinary.com/dxayumlub/image/upload/v1534353149/Ledja/3319641_-_calandar_date_event_schedule.png');">
              </div>
            </div>
            <div class="col-xs-10 col-md-5 card-home">
              <div>
                <h2>Secure</h2>
                <p>Ledja is super secure</p>
              </div>
              <div class="card-home-icon" style = "background-image: url('https://res.cloudinary.com/dxayumlub/image/upload/v1534352650/Ledja/3319597_-_bank_banking_safe_secure.png');">
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="home-third-wrapper">
        <div class="col-xs-12 col-md-12">
<!--           <div class="col-xs-10 col-md-6 justify-content-center">
            <h2>Get <strong>organized</strong></h2>
            <h2><strong>save</strong> money</h2>
            <h2>and find <strong>better deals!</strong></h2>
          </div> -->
          <h1>
            <span
              class="txt-rotate"
              data-period="2000"
              data-rotate='[ "get organized", "save money", "find better deals!" ]'>
            </span>
          </h1>
          <!-- <h2>A single &lt;span&gt; is all you need.</h2> -->





          <div class="col-xs-10 col-md-6 justify-content-center">

          </div>
        </div>
      </div>
      <div id="home-footer-padding">
        <%= render 'shared/footer', id: "home-footer-padding" %>
      </div>
    </div>
  </div>
</div>
