<div class="row">
  <div id="home-wrapper">
    <%= render 'shared/navbar' %>
    <div id="home-banner">
      <div class="col-xs-12 col-sm-6 col-sm-offset-2">
        <div id="banner-content-left">
          <h1>Track All</h1>
          <h1>Your Subscriptions</h1>
          <h4>Automatically in less than a minute</h4>
          <div class="home-button-get-started">
            <% unless user_signed_in? %>
            <!-- Link when new session -->
            <%= link_to "Get Started", new_user_registration_path , class: 'btn btn-primary btn-started' %>
            <% else %>
            <%= link_to "Get Started", subscriptions_index_path , class: 'btn btn-primary btn-started' %>
             <% end %>
          </div>
        </div>
      </div>
    </div>
    <a href="#home-second-wrapper">
      <div class="scroll">
        <p>Learn More</p>
        <i class="fas fa-chevron-down"></i>
      </div>
    </a>
    <div class="row">
      <div id="home-second-wrapper">
        </div>

        <div class="col-xs-12 col-sm-6 col-sm-offset-2">
          <div id="page-content-left">
          <div class="col-xs-12 col-sm- col-sm-offset-2">
            <div id="page-content-left">
              <div class="col-xs-12 col-sm-12">
                <div class="col-xs-12 col-sm-6"><h2>Card 1</h2></div>
                <div class="col-xs-12 col-sm-6"><h2>Card 2</div>
                <div class="col-xs-12 col-sm-6"><h2>Card 3</h2></div>
                <div class="col-xs-12 col-sm-6"><h2>Card 4</h2></div>
                <div class="col-xs-12 col-sm-6"><h2>Card 5</h2></div>
                <div class="col-xs-12 col-sm-6"><h2>Card 6</h2></div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="home-third-wrapper">
        <div class="col-xs-12 col-sm-6 col-sm-offset-2">
          <h2>Get <strong>organized</strong></h2>
          <h2 ><strong>save</strong> money</h2>
          <h2>and find <strong>better deals!</strong></h2>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h2>Card for Image</h2>
        </div>
      </div>
      <div id="home-footer-padding">
        <%= render 'shared/footer', id: "home-footer-padding" %>
      </div>
    </div>
  </div>
</div>
