#home-wrapper {
  height: 85vh;
  width: 100%;
  background: radial-gradient(979.75px at 19.91% 13.29%, #2EDD97 0%, #2893C9 100%);
}

#home-banner {
  margin-top: -70px;
  height: 100%;
  width: 100%;
  background: radial-gradient(979.75px at 19.91% 13.29%, #2EDD97 0%, #2893C9 100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  .navbar-ledja {
    align-self: flex-start;
    width: 100%;
  }
}

#banner-content-left {

  h1 {
    letter-spacing: 0.7px;
  }
  h4 {
    margin-bottom: 24px;
  }
}

#home-second-wrapper {
  display: flex;;
  align-items: center;
  justify-content: center;
}

#home-third-wrapper {
  color: white;
  text-align: center;
}
