.home-button-get-started {
  display: flex;
}

.btn-started {
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  border: 0px;
  width: 280px;
  font-size: 18px;
  padding-bottom: 13px;
  padding-top: 13px;
  letter-spacing: 0.4px;
  border-radius: 3px;
  // background-image: linear-gradient(260deg,#58B2B3,#4892C4);
}
.btn-started:hover {

}
