.subscription-logo-legend {
  max-width: 150px;
  max-height: 60px;
  padding-left: 15px;
  background: transparent;
}
.card-container-legend {
  margin: 0px;
  margin-bottom: 20px;
  background-color: $white;
}

.card-home-legend {
  background-color: $white;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: space-between;
  flex: auto;
}

.card-home-icon-legend {
  width: 100px;
  height: 100px;
  background-size: contain;
}
.card-legend {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin: 0px 25px 10px 25px ;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  background-color: $white;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}
.card-legend:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  border-right: solid;
  border-color: $brand-blue;
  transition: all 0.2s ease;
  cursor: pointer;
}
.subscription-company-name-legend {
  text-align: center;
  margin-left: 40px;
  width: 170px;

}
.subscription-company-name-legend h3 {
  color: $medium-gray;
  margin-bottom: 0px;
  margin-top: 0px;
}
.subscription-company-name-legend p {
  font-weight: lighter;
  margin-top: 5px;
}
.length-cost-next-column {
  text-align: end;
  width: 170px;
  padding-left: 10px;
  h4 {
    color: $medium-gray;
  }
  p {
    color: $lighter-gray;
  }
}
.switch-column {
  text-align: end;
  width: 140px;
  padding-left: 10px;
  margin-right: 10px;
  h4 {
    color: $medium-gray;
  }
  p {
    color: $lighter-gray;
  }
}
