.subscription-logo {
  height: 60px;
  padding-left: 15px;
  background: transparent;
  background-size: contain;
}
.card-container {
  margin: 0px;
  margin-left: 25px;
  margin-bottom: 40px;
  background-color: $white;
}

.card-home {
  background-color: $white;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: space-between;
  flex: auto;
}

.card-home-icon {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}
.card {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 130px;
  padding: 0px;
  margin: 0px 25px 10px 25px ;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  background-color: $white;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}

.card-legend {
  max-width: 1000px;
  border-bottom: 1px solid $lighter-gray;
  margin: 0px 25px 10px 25px ;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  p {
    margin-bottom: 1px;
  }
}


.card-content {
  display: flex;
  align-content: space-around;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  border-right: solid;
  border-color: $brand-blue;
  transition: all 0.2s ease;
  cursor: pointer;
}
  // i {
  //   color: $brand-blue;
  //   opacity: 1;
  //   font-size: 40px;
  //   padding: 0px;
  //   margin-right: 5px;
  //   justify-content: center;
  //   border-color: transparent;
  //   background-color: transparent;
  // }

.card:last-child {
  border-bottom: none;
  margin-bottom: 0px;
}
.subscription-company-name {
  text-align: center;
  margin-left: 40px;
  width: 170px;

}
.subscription-company-name h3 {
  color: $medium-gray;
  margin-bottom: 0px;
  margin-top: 0px;
}
.subscription-company-name p {
  font-weight: lighter;
  margin-top: 5px;
}
.length-cost-next-column {
  font-weight: lighter;
  text-align: end;
  width: 170px;
  padding-left: 10px;
  h4 {
    color: $medium-gray;
  }
  p {
    color: $lighter-gray;
  }
}
.saving-column {
  font-weight: lighter;
  text-align: end;
  width: 140px;
  padding-left: 10px;
  h4 {
    color: $medium-gray;
  }
  p {
    color: $lighter-gray;
  }
}
.next-payment-column {
  font-weight: lighter;
  text-align: end;
  width: 160px;
  padding-left: 10px;
  h4 {
    color: $medium-gray;
  }
  p {
    color: $lighter-gray;
  }
}
.cost-column {
  font-weight: lighter;
  text-align: end;
  width: 160px;
  padding-left: 10px;
  padding-right: 10px;
  h4 {
    color: $medium-gray;
  }
  p {
    color: $lighter-gray;
  }
}
.switch-column {
  text-align: end;
  padding-left: 10px;
  margin-right: 15px;
}

// .card i {
//   color: transparent;
//   font-size: 40px;
//   opacity: 0.8;
//   transition: all 0.15s ease;
//   border-color: transparent;
//   padding: 0px;
//   margin-right: 5px;
//   justify-content: center;
//   background-color: transparent;
// }
// .three-dots {
//   font-size: 40px;
//   color: $brand-blue;
//   opacity: 0.8;
//   padding: 0px;
//   margin-right: 15px;
//   margin-left: 20px;
//   justify-content: center;
//   border-color: transparent;
//   background-color: transparent;
// }
