.spinner-container {
  display: flex;
  height: 100vh;
  align-items: center;
  margin-top: -70px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .sidebar {
    width: 120px;
    background-color: white;
    border-right: 1px solid $lightest-gray;
    list-style: none;
    padding-right: 39px;

    i {
      color: $lighter-gray;
      font-size: 24px;
      padding-bottom: 60px;
    }
  }

  .dash-tab {
    &.active {
      i {
        color: $dark-gray;
      }
    }
  }

  .main-content {
    flex: 1 0 auto;
    background-color: white;
    padding: 0px 180px 0px 0px;
    margin: 0px;
  }

  .detailed-content {
    width: 400px;
    background-color: $lightest-gray;
  }
}

.sidebar.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .fa-info-circle {
  padding-bottom: 60px;
} */

.dash-title {
  margin: 45px;
  color: $black;
}

.tab-pane {
  h1 {
    margin: 45px;
    color: $black;
  }
}

.tb-left-align {
  text-align: left;
}
.tb-right-align {
  text-align: right;
}
.tb-center-align {
    text-align: center;
}

.dash-table {
  max-width: 1000px;
  margin: 0px 0px 10px 50px ;

  th {
    height: 0px !important;
  }
  tr {
    td {
    vertical-align: middle !important;
    max-width: 100px !important;
    }
    .toggle {
      text-align: right;
      vertical-align: middle !important;
    }
  }
}
.clickable-row {
  cursor: pointer;
}

.dash-card {
  height: 100px;
  max-width: 1000px;
  margin: 0px 0px 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ddd;
}

.settings {
  text-align: right;
  justify-content: flex-end;
}

.sub-name-field {
  flex: 0 0 150px !important;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }

.deal-tr {
  display: none;
}

.deal-td {
  padding: 0px !important;
}

.sub-name {
  min-width: 200px;
  padding-left: 20px;
}

.sub-toggle {
  min-width: 50px;
}

.sub-logo {
  padding-left: 20px;
  min-width: 100px;
}

.account-logo {
  padding-left: 20px !important;
  i {
    font-size: 70px;
    color: $lighter-gray;
    padding-left: 3px;
  }
}

.account-name {
  min-width: 210px;
}

.tb-tr-height {
  height: 100px !important;
}
.td-black {
  color: $black;
}
