.footer {
  position: absolute;
  background: linear-gradient(#4691C4, #4691C4);
  padding: 20px 30px;
  color: rgba(0,0,0,0.3);
  color: white;
  width: 100%;
  overflow: hidden;
  bottom: 0;
}

.footer-social-links {
  flex-grow: 1;
  display: flex;
  align-items: center;
  color: white;
}
.footer-social-links a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-social-links a:hover {
  opacity: 1;
  color: white;
}
.footer-main-links {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.footer-main-links a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
}
.footer-main-links a:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-groups {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-copyright {
  justify-content: flex-end;
  flex-grow: 1;
  text-align: end;
  display: flex;
}
